@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;margin: 0;box-sizing: border-box;
}
.main-container{
    height: 100vh;
    width: 100%;
     background: rgb(70,26,105);
background: radial-gradient(circle, rgba(70,26,105,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
  /*background-color: rgb(16, 3, 36);
    background-image: url("images/main-bg.png");
    background-size: cover;*/
}
nav{
    height: 15%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    height: 100%;
    width: 50%;
}
.logo{
    width: 10%;
    height: 35%;
}
.logo img{
    height: 100%;
}
ul li{
    list-style: none;
}
.sign-up{
    height: 30%;
    width: 10%;
    border-radius: 50px;
    border: 1px solid rgb(27, 180, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    font-weight: bold;
    background-color: transparent;
    color: white;
}

.body-main-container{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-part{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: end;
}
.responsive-img{
    display: none;
}
.left-part-upper{
    height: 60%;
    width: 73%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-part-upper h6{
font-size: 18px;
}
.left-part-upper h1{
    font-size: 55px;
    font-weight: light;
    }
    span{
        height: 15%;
        width: 100%;
    }
    .btn-1{
        height:70% ;
        width: 25%;
        color: white;
        font-weight: bolder;
        border: none;
        border-radius: 25px;
       background: rgb(197,8,229);
        background: linear-gradient(0deg, rgba(197,8,229,1) 1%, rgba(0,255,253,1) 100%);;
    }
    .btn-2{
        height:70% ;
        width: 35%;
        color: rgb(43, 4, 92);
        border-radius: 25px;
        background-color: white;
        font-weight: bolder;
        border: none;
      
    }
.right-part{
    height: 100%;
    width: 60%;
}
.right-part img{
    height: 95%;
    width: 80%;
}

@media(max-width:768px){

    nav{
        width: 95%;
    }
    nav ul{
        display: none;
    }
    .sign-up{
        width: 30%;
}
.right-part{
    display: none;
}
.left-part{
  width: 95%;
  display: flex;
  flex-direction: column;

}
.left-part-upper{
    width: 100%;
    height: 50%;
}
.responsive-img{
    display: block;
    height: 50%;
    width: 100%;
}
.responsive-img img{
    height: 100%;
    width: 90%;
}

}